body {
  margin: 0;
  padding: 0;
  z-index: 40;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.mt-5 {
  color: black;
  text-align: center;
  position: relative;
  top: -30px;
  left: 290px;
}
.wrapper {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px #DDD;
  box-sizing: border-box;
  height: 300px;
  left: 550px;
  margin: -150px 0 0 -150px;
  position: absolute;
  top: 400px;
  width: 300px;

}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 18px;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;

  &:focus {
    outline: none;    
  }
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}


font {
  color: white;
}

#wordsDisplay {
  position: relative;
  top: 20px;
  left: 387px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  width: 305px;
  text-align: center;
}
#userDetails {
  position: relative;
  top: 230px;
 float: right;
 /* left: 500px; */
 left: 740px;
  color: white;
  background-color: sandybrown;
  width: 300px;
  text-align: center;
  border-radius: 5px;
}

#score {
  position: relative;
  top: 0px;
  left: 20px;
  color: white;
  background-color: sandybrown;
}

#time {
  text-align: center;
}

 p {
  position: relative;
  top: 450px;
  left: 385px;
  color: white;
  background-color: sandybrown;
  width: 300px;
  border-radius: 5px;
 }

#timeLeft {
  position: relative;
  top: 400px;
  left: 330px;
  color: white;
  background-color: sandybrown;g
}

b {
  color: black;
  text-transform: capitalize;;
}

#user {
  position: relative;
  top: 350px;
  right: 350px;
  float: right;
  color: black;
  font: 33px;
  font-family: 'Courier New', Courier, monospace;
}

#output {
  position: relative;
  color: black;
  float: right;
  right: 250px;
  font-size:28px;
  top: 410px;
}

#playerN {
  color: black;
}

.newP {
  position: relative;
  left: 40px;
  top: 120px;
}

.navbar-brand {
  position: relative;
  left: -90px;
}


@import "compass/css3";

.logo {
  position: relative;
  width: 200px;
  height: 164px;
  left: 450px;
  top: -100px;
}

.kiwi {
  fill: #94d31b; 

}
.kiwi:hover {
  fill: #ace63c; 
}

.ground {
  fill: #787f6a;
}
.ground:hover {
  filter: url(#pictureFilter);
  fill: #896d3d;
}

#messageP {
  position: relative;
  top: -50px;
  width: 100px;
  left: 500px;
}

.instructions {
  background-color: #787f6a;
  width: 50%;
  height: 300px;
  color: white;
  position: relative;
  left: 658px;
  top: 220px;
  margin: 5px;
  text-align: center;
}

.instructions p {
  background-color: #787f6a;
  position: relative;
  left: 0px;
  top: 20px;
  text-align: center;
}