body {
  margin: 0;
  padding: 0;
  z-index: 40;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.mt-5 {
  color: white;
  text-align: center;
  position: relative;
  left: 300px;
}
.wrapper {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px #DDD;
  box-sizing: border-box;
  height: 300px;
  left: 550px;
  margin: -150px 0 0 -150px;
  position: absolute;
  top: 400px;
  width: 300px;

}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 18px;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;

  &:focus {
    outline: none;    
  }
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}

#user {
  position: relative;
  top: 100px;
  left: 100px;
  color: white;
  font: 33px;
  font-family: 'Courier New', Courier, monospace;
}

font {
  color: white;
}

#wordsDisplay {
  position: relative;
  top: 20px;
  left: 405px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  width: 300px;
  text-align: center;
}
#userDetails {
  position: relative;
  top: 200px;
 float: right;
 left: 450px;
  color: white;
}

#score {
  position: relative;
  top: 0px;
  left: 20px;
  color: white;
}

 p {
  position: relative;
  top: 450px;
  left: 400px;
  color: white;
}

#timeLeft {
  position: relative;
  top: 400px;
  left: 260px;
  color: white;

}