body {
  margin: 0;
  padding: 0;
  z-index: 40;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.container .type {
   position: relative;
   top: 20px;
}
.mt-5 {
  color: black;
  text-align: center;
  position: relative;
  top: -30px;
  left: 290px;
}
.wrapper {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px #DDD;
  box-sizing: border-box;
  height: 300px;
  left: 550px;
  margin: -150px 0 0 -150px;
  position: absolute;
  top: 400px;
  width: 300px;

}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 18px;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;

  &:focus {
    outline: none;    
  }
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}


font {
  color: white;
}

#wordsDisplay {
  position: relative;
  top: 20px;
  left: 387px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  width: 305px;
  text-align: center;
}
#userDetails {
  position: relative;
  top: 230px;
 float: right;
 /* left: 500px; */
 left: 740px;
  color: white;
  background-color: sandybrown;
  width: 300px;
  text-align: center;
  border-radius: 5px;
}

#score {
  position: relative;
  top: 0px;
  left: 20px;
  color: white;
  background-color: sandybrown;
}

#time {
  text-align: center;
}

 p {
  position: relative;
  top: 450px;
  left: 385px;
  color: white;
  background-color: sandybrown;
  width: 300px;
  border-radius: 5px;
 }

#timeLeft {
  position: relative;
  top: 400px;
  left: 330px;
  color: white;
  background-color: sandybrown;
}

.sec {
  position: relative;
  top: 400px;
  left: 330px;
  color: white;
  background-color: sandybrown;
  margin: 5px;
}

.type {
  width: 60%;
  text-align: center;
  left: 374px;
}

b {
  color: black;
  text-transform: capitalize;;
}

#user {
  position: relative;
  top: 350px;
  right: 350px;
  float: right;
  color: black;
  font: 33px;
  font-family: 'Courier New', Courier, monospace;
}

#output {
  position: relative;
  color: black;
  float: right;
  right: 250px;
  font-size:28px;
  top: 410px;
}

#playerN {
  color: black;
}

.newP {
  position: relative;
  left: 40px;
  top: 120px;
}

.navbar-brand {
  position: relative;
  left: -90px;
}


@import "compass/css3";

.logo {
  position: fixed;
  width: 200px;
  height: 164px;
  left: 250px;
  top: 420px;
}

.kiwi {
  fill: #94d31b; 

}
.kiwi:hover {
  fill: #ace63c; 
}

.ground {
  fill: #787f6a;
}
.ground:hover {
  filter: url(#pictureFilter);
  fill: #896d3d;
}

#messageP {
  position: relative;
  top: -80px;
  width: 100px;
  left: 280px;
  text-align: center;
}

.instructions {
  background-color: #787f6a;
  width: 25%;
  height: 250px;
  color: white;
  position: relative;
  left: 580px;
  top: 220px;
  margin: 5px;
  text-align: center;
  margin-bottom: 350px;
}

.instructions p {
  background-color: #787f6a;
  position: relative;
  left: 80px;
  top: 20px;
  width: 1005;
  text-align: center;
}

#clearPlayer {
  position: relative;
  top: 20px;
  left: 750px;
}

#corWrong {
  position: relative;
  left: 780px;
  top: 270px;
  color: black;
  font: 30px;
}

#enemyLife {
  color: white;
  background-color: sandybrown;
  position: fixed;
  top: 600px;

}
 .enemy {
   left: 280px;
   position: fixed;
   top:600px;
   color: white;
   background-color: sandybrown;
   width: 120px;
   text-align: center;
   border-radius: 5px;
 }

#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
  top:0;
	width:100%;
	height:100%;
	left:0px;
	z-index:10000;
  /* background: url('../img/drop.jpg') no-repeat center center fixed;required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
  width:43%;
  height: 25%;
	min-height:100px;
  max-height:400px;
	margin-top:50px;
	border:1px solid #fff;
	background-color:#fff;
	background-repeat:no-repeat;
  top:30%;
  left: 500px;
}

#modalContainer > #alertBox {
  position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 1em Raleway,arial;
	background-color:#f97352;
  color:#FFF;
  text-align: center;
	border-bottom:1px solid #f97352;
	padding:10px 0 10px 5px;
}

#alertBox p {
 height:50px;
	padding-left:5px;
  padding-top:30px;
  text-align:center;
   vertical-align:middle; 
  visibility: hidden; 
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:10px auto 10px auto;
  padding:7px;
	border:0 none;
	width:170px;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#f97352;
	border-radius: 0px;
	text-decoration:none;
  outline:0!important;
} */

/* unrelated styles */

 /* #mContainer {
  position:relative;
	width:600px;
	margin:auto;
	padding:5px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

h1,h2 {
	margin:0;
  padding:4px;
}

code {
	font-size:1.2em;
	color:#069;
}

#credits {
	position:relative;
	margin:25px auto 0px auto;
	width:350px; 
	font:0.7em verdana;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	height:90px;
	padding-top:4px;
}

#credits img {
	float:left;
	margin:5px 10px 5px 0px;
	border:1px solid #000000;
	width:80px;
	height:79px;
}

.important {
	background-color:#F5FCC8;
	padding:2px;
   
}

@media (max-width: 600px) 
{
  #alertBox {
	position:relative;
	width:90%;
  top:30%;
}
} */